body {
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f09ede);
  border-radius: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}
#fimg {
  width: 100%;
  height: 40px;
}
li {
  list-style: none;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.3rem;
}
#log {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-top: -50px;
}
li:hover {
  color: teal;
}
.childheader {
  display: flex;
}
ul {
  display: flex;
  margin-left: auto !important;
}
#viewbox {
  margin-left: 30%;
  color: blue;
  margin-top: 10px;
  cursor: pointer;
}
#customer {
  margin-top: 10px;
  margin-left: 10px;
  color: blue;
  cursor: pointer;
}
.mainheader {
  padding: 5px 10px;
  background: rgb(255, 253, 253);
  border-radius: 5px;
}
.top-section > img {
  width: 100%;
  height: 100%;
}
form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 750px;
  align-items: center;
  margin: auto;
  border: 1px solid white;
  background-color: rgba(248, 242, 242, 0.747);
}
.dinner-ready {
  font-weight: 300;
  font-size: 50px;
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  font-weight: bold;
  margin-right: 40%;
}
.chef-prepared {
  font-size: 28px;
  font-weight: 10;
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  margin-right: 5.5%;
  margin-top: -10px;
  font-weight: bold;
}

#htagone {
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-left: -59.5%;
  margin-top: 45px;
}
.inputs {
  margin-right: 5%;
  margin-top: 15px;
}
input:focus {
  outline-style: none;
}

#htagtwo {
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 10;
  margin-left: -14px;
  margin-top: -5px;
}
.inputform {
  padding: 100px 100px;
  text-align: center;
  background-image: url(https://res.cloudinary.com/freshly/image/upload/c_crop,g_auto,dpr_auto,q_30,w_1500,h_900/v1494958610/joinnow-southchicken.jpg);
}
form img {
  width: 20%;
  height: 40px;
  margin-top: 10px;
}

.signup {
  padding: 15px 35px;
  background-color: rgba(0, 105, 243, 0.842);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}
.signup a {
  text-decoration: none;
  color: white;
}
#continue {
  font-family: FavoritFreshly, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.signup:hover {
  background-color: rgba(52, 129, 231, 0.842);
}
#email {
  padding: 15px 30px;
  border-radius: 5px;
}
#password {
  padding: 15px 20px;
  border-radius: 5px;
  margin-left: 30px;
}
#footer-scroller h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: 400;
}

footer {
  padding: 50px;
  font-family: "Varela Round", sans-serif;
}
footer a {
  text-decoration: none;
  color: #666;
  margin: 10px 0px;
  font-size: 0.9em;
}
footer img {
  width: 55%;
}
footer #container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin: auto;
}
footer #container > div {
  display: flex;
  flex-direction: column;
}

footer #container > div > div {
  display: flex;
}
footer #container > div > div img {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  opacity: 0.7;
}
footer #container .top {
  font-size: 1.2em;
  /* font-weight: bold; */
}
