* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f09ede);
  border-radius: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

.main {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  background: #fff9fc;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

/* .content {
} */

.calender {
  height: 20rem;
  width: 27rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calender li {
  display: flex;
  padding: 2rem;
  align-items: center;
  height: 4rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.mostPopular {
  margin-left: 4rem;
  font-size: 1rem;
}

.goldenStar {
  width: 1.5rem;
}

.calender li:focus {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.calender li:hover {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.after_table {
  text-align: center;
  color: #357471;
}
.after_table * {
  font-weight: 600;
  margin-bottom: 2rem;
}
.after_table button {
  min-width: 19rem;
  font-size: 1.1rem;
  padding: 13px 0;
}
.delivery_date {
  font-size: 1.1rem;
  color: #0d6efd;
}

/* EXTRA */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/*  */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* MESSAGE */

.theToast {
  position: fixed;
  background-color: #cff4fc;
  top: 100px;
  right: 35px;
  border-radius: 12px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translate(calc(100% + 35px));
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.theToast.active {
  transform: translate(0%);
}

.theToast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.theToast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.theToast .close:hover {
  opacity: 1;
}

.theToast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #eee;
}

.progress.active::before {
  animation: progress 4s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.theToast .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
