* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}
.main {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  background: #fff9fc;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.first p {
  width: 80%;
  /* border: 2px solid red; */
}

.to_bold_text {
  font-weight: 600;
}

table {
  text-align: center;
  cursor: pointer;
}

th h5 {
  font-weight: 600;
}
th:hover,
td:hover {
  -webkit-animation: shadow-inset-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

th .caption {
  color: #357471;
  font-weight: 500;
}

th:nth-child(3) {
  background-color: #cff4fc;
}
.tb_unactive_text {
  font-size: 1.2rem;
  font-weight: 600;
  color: lightgray;
  text-decoration: line-through;
}

.tb_active_text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #357471;
}

tr > th,
tr > td {
  /* border: 1px solid red; */
  width: 6rem;
  height: 7rem;
}

tr > th > *,
tr > td > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1400px) {
  .hangup {
    margin-top: auto;
    margin-left: 18.5rem;
    color: #357471;
  }
}

@media (max-width: 1399px) {
  .hangup {
    margin-top: auto;
    margin-left: 15rem;
    /* border: 1px solid red; */
  }
}
@media (max-width: 1199px) {
  .hangup {
    margin-top: auto;
    margin-left: 10rem;
    /* border: 1px solid red; */
  }
}

.after_table {
  text-align: center;
  color: #357471;
}
.after_table * {
  font-weight: 600;
  margin-bottom: 2rem;
}
.after_table button {
  min-width: 19rem;
  font-size: 1.1rem;
  padding: 13px 0;
}

/* MESSAGE */

.theToast {
  position: fixed;
  background-color: #cff4fc;
  top: 100px;
  right: 35px;
  border-radius: 12px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translate(calc(100% + 35px));
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.theToast.active {
  transform: translate(0%);
}

.theToast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.theToast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.theToast .close:hover {
  opacity: 1;
}

.theToast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #eee;
}

.progress.active::before {
  animation: progress 4s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.theToast .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
